.home-button{
    font-size: 18px;
    float: left;
    margin-right: 10px;
}

.home-button:focus,
.home-button:hover {
    color: white;
}

.home-button-text {
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
}

.home-button-icon {
    float: left;
    line-height: 23px;
}