.nagivation-header{
    position: fixed !important;
    width: 100%;
    z-index: 4;
    height: 56px;
}

.nagivation-header > .navbar {
    height: 56px;
    padding-left: 15px;
    padding-right: 15px;
}

.nagivation-header > .navbar > .header-item > .nav-item {
    margin-right: 15px;
}

.nagivation-header > .navbar > span {
    color : lightgray;
}

.title{
    font-size: 25px;
    float: left;
    color: rgb(201, 107, 25);
    height: 100%;
    display: inline;
    width: 40%;
    text-align: center;
}

.left-section{
    width: 30%;
    float: left;
    height: 100%;
    margin-top:6px;
    padding-left:10px;
}

.right-section{
    width: auto;
    float: right;
    height: 100%;
    padding-right: 10px;
}

.header-item{
    display: none;
}
.header-items-list{
    display: block;
}

@media (min-width: 992px) {
    .header-item{
        display: block;
    }
    .header-items-list{
        display: none;
    }
}