.gallery {
    float: left;
    width: calc(100% - 80px);
    margin-top: 15px;
    margin-left: 40px;
    min-width: 300px;
}

.gallery-heading{
    text-align: center;
    color: white;
    font: 600;
    font-size: 30px;
}

.gallery-content{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 15px;
    float:left;
    padding-top:10px;
    padding-bottom:10px;
}

.gallery-graphic-content{
    background-image: url('./images/polynomialshapes.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    min-height: 400px;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 20px;
}