.content-container{
    float: left;
    width: 100%;
    height: auto;
    min-height: 80%;
    margin-top:106px;
}

.content-table{
    position: fixed;
    z-index: 1;
    max-height: calc(100% - 120px);
    overflow: auto;
}

.content-main {
    float:left;
    height:100%;
    width: 100%;
}

.content-right-section{
    float: right;
    height:100%;
}

.right-btn{
    cursor: pointer;
    float: left;
    font-size: 15px;
    background-color: #282A35;
    background: linear-gradient(to left, #282A35 70%, transparent 100%);
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (min-width: 992px) {
    .content-table{
        float:left;
        display: block !important;
        min-width: 250px;
        max-height: calc(100% - 120px);
        position: fixed;
        overflow: auto;
    }

    .content-main {
        float:left;
        height:100%;
        width: calc(75% - 300px);
        margin-left: 275px;
    }
}